<form [formGroup]="registerFormGroup" (ngSubmit)="onSubmit()">
    <h2>Register</h2>
    <input placeholder="First Name" type="text" formControlName="firstName"
           [ngClass]="{'input-error' : isInvalid('firstName')}"/>
    <app-error-message [control]="registerFormGroup.controls['firstName']"
                       [validationType]="'required'"
                       [validationMessage]="'First Name is required.'"></app-error-message>

    <input placeholder="Last Name" type="text" formControlName="lastName"
           [ngClass]="{'input-error' : isInvalid('lastName')}"/>

    <app-error-message [control]="registerFormGroup.controls['lastName']"
                       [validationType]="'required'"
                       [validationMessage]="'Last Name is required.'"></app-error-message>

    <input placeholder="Email" type="email" formControlName="email"
           [ngClass]="{'input-error' : isInvalid('email')}"/>

    <app-error-message [control]="registerFormGroup.controls['email']"
                       [validationType]="'required'"
                       [validationMessage]="'Email is required.'"></app-error-message>
    <app-error-message [control]="registerFormGroup.controls['email']"
                       [validationType]="'email'"
                       [validationMessage]="'Email format is incorrect.'"></app-error-message>

    <input placeholder="Password" type="password" formControlName="password"
           [ngClass]="{'input-error' : isInvalid('password')}"/>

    <app-error-message [control]="registerFormGroup.controls['password']"
                       [validationType]="'required'"
                       [validationMessage]="'Password is required.'"></app-error-message>
    <app-error-message [control]="registerFormGroup.controls['password']"
                       [validationType]="'minlength'"
                       [validationMessage]="'Password length must be at least ' +
                       registerFormGroup.controls['password'].getError('minlength')?.requiredLength +' characters.'"></app-error-message>

    <button type="submit" [disabled]="registerFormGroup.invalid">
        <i *ngIf='isLoading' class="fa fa-circle-o-notch fa-spin"></i>
        Register
    </button>
    <button type="button" routerLink="/login">Login</button>
</form>
